:root {
    --gradient: linear-gradient(90deg, #f1c40f, #f39c12);
}

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

::selection {
    background: #f39c12;
    color: #fff;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

section {
    /* min-height: 70vh; */
    padding: 1rem 7%;
    /* margin-top:0rem; */
    /* height: 100px; */
}

.heading {
    color: transparent;
    background: var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    padding: 0 1rem;
    padding-top: 2rem;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 4rem;
    /* text-transform: uppercase; */
}

.btn {
    padding: .5rem 3rem;
    font-size: 2rem;
    color: #fff;
    background: var(--gradient);
    border-radius: 3rem;
    margin-top: 1rem;
    cursor: pointer;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.btn::before {
    content: '';
    position: absolute;
    top: -1rem;
    left: -100%;
    background: #fff9;
    height: 150%;
    width: 20%;
    transform: rotate(25deg);
    z-index: -1;
}

.btn:hover::before {
    transition: .2s linear;
    left: 120%;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 1.5rem 7%;
    background: var(--gradient);
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3)
}

header .logo {
    color: #fff;
    font-size: 2.5rem;
}

header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li {
    margin: 0 1rem;
}

header .navbar ul li a {
    font-size: 2rem;
    color: #fff;
}

header .navbar ul li a.active, header .navbar ul li a:hover {
    color: #444;
}

header #login {
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
}

header #login:hover {
    color: #444;
}

header #burger {
    font-size: 3rem;
    color: #fff;
    display: none;
}

/* contact modal */

.modal-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background-color: rgba(0, 0, 0, .5);
}

.modal-wrap .modal {
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #fff;
}

.modal-wrap .modal img {
    width: 40rem;
    height: auto;
    margin-bottom: .2rem;
}

.modal-wrap .modal p {
    font-size: 2.5rem;
    color: #444;
}

.modal-wrap .modal p:nth-child(3) {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.modal-wrap .modal .btn {
    margin: 0 1rem;
    margin-top: 2rem;
    font-size: 1.7rem;
}

.modal-wrap .modal .fa-times {
    position: relative;
    top: 55%;
    right: -40%;
    font-size: 3rem;
    color: #999;
    cursor: pointer;
}

.modal-wrap .modal .btn a {
    color: #fff;
}

/* login form  */

.login-form {
    height: 100%;
    width: 100%;
    position: fixed;
    top: -120%;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition: none; */
}

.login-form.popup {
    top: 0;
    /* transition: none; */
}

.login-form form {
    width: 35rem;
    background: #fff;
    margin: 0 2rem;
    padding: 1rem 3rem;
    border-radius: .5rem;
    box-shadow: 0 .1rem .3rem #333;
    position: relative;
}

.login-form form h3 {
    font-size: 3rem;
    color: #f39c12;
    padding: 1rem 0;
}

.login-form form .box {
    width: 100%;
    padding: 1rem 0rem;
    margin: 1rem 0;
    border-bottom: .2rem solid #666;
    font-size: 1.6rem;
    color: #333;
    text-transform: none;
}

.login-form form .box::placeholder {
    text-transform: capitalize;
}

.login-form form .box:focus {
    border-color: #f39c12;
}

.login-form form .box:nth-child(3) {
    margin-bottom: 3rem;
}

.login-form form p {
    font-size: 1.5rem;
    color: #666;
    padding: .5rem 0;
}

.login-form form p a {
    color: #f39c12;
}

.login-form form p a:hover {
    color: #af7210;
}

.login-form form .btn {
    width: 100%;
    margin: 2rem 0;
}

.login-form form .btn:hover {
    background: #444;
    transition: .1s;
}

.login-form form .fa-times {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 3rem;
    color: #999;
    cursor: pointer;
}

.login-form form .fa-times:hover {
    color: #444;
}

.home {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: none;
}

.home .content {
    flex: 1 1 40rem;
}

.home .image {
    flex: 1 1 40rem;
}

.home .image img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.home .content h1 {
    color: transparent;
    background: var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 4rem;
}

.home .content p {
    padding: .5rem 0;
    font-size: 1.7rem;
    color: #666;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about .content {
    flex: 1 1 40rem;
}

.about .image {
    flex: 1 1 40rem;
}

.about .image img {
    width: 100%;
}

.about .content h3 {
    font-size: 3.5rem;
    color: #666;
}

.about .content p {
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
    line-height: 2.5rem;
}

.about .content .btn {
    margin-right: 1.5rem;
    font-size: 1.5rem;
}

.about .content .btn a {
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
}

.revision-plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2rem;
}

.revision-plan .revision p {
    font-size: 1.8rem;
    color: #444;
}

.revision-plan .extra-page {
    padding-top: 2rem;
    text-align: center;
}

.revision-plan .extra-page p {
    font-size: 2rem;
    color: #333;
}

.revision-plan .extra-page .btn a {
    color: #fff;
}

.video-container {
    position: relative;
    margin-left: 10%;
    margin-top: 2rem;
    padding-bottom: 56.25%;
    height: 0;
    width: 100%;
    /* height: 100%; */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
}

.footer .box-container {
    border-top: .1rem solid rgba(0, 0, 0, .1);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .foot-box {
    margin: 1.5rem;
    text-align: center;
    flex: 1 1 25rem;
}

.footer .box-container .foot-box h3 {
    font-size: 2.5rem;
    color: #f39c12;
    padding: .5rem 0;
}

.footer .box-container .foot-box p {
    font-size: 1.5rem;
    color: #666;
    padding: .5 rem 0;
}

.footer .box-container .foot-box a {
    display: block;
    font-size: 1.5rem;
    color: #666;
    padding: .7rem 0;
}

.footer .box-container .foot-box a:hover {
    color: #f39c12
}

.footer .box-container .foot-box p i {
    padding-right: .5rem;
    color: #f39c12;
}

.footer .credit {
    background: #444;
    font-size: 2rem;
    margin-top: 1rem;
    padding: 2rem;
    padding-top: 2rem;
    text-align: center;
    border-top: .2rem solid rgba(0, 0, 0, .3);
    color: #fff;
}

.footer .credit span {
    color: #f39c12;
}

.footer .box-container .foot-box p {
    text-transform: none;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contact .image {
    flex: 1 1 35rem;
}

.contact .image img {
    width: 100%;
}

.contact form {
    flex: 1 1 50rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 2rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input, .contact form input, .contact form textarea {
    width: 100%;
    padding: 1rem;
    margin: .7rem 0;
    font-size: 1.7rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    text-transform: none;
    color: #333;
}

.contact form .input-box input:focus, .contact form textarea:focus {
    border-color: #f39c12
}

.contact form .input-box input {
    width: 50%;
}

.contact form textarea {
    height: 20rem;
    resize: none;
}

.display-none {
    display: none;
}

/* revision page  */

.table-container {
    padding: 0 10%;
    margin: 40px auto 0;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table thead {
    background: var(--gradient);
}

.table thead tr th {
    font-size: 2rem;
    letter-spacing: 0.35px;
    font-weight: 600;
    color: #222;
    padding: .6rem;
    vertical-align: top;
    /* border:.1px solid #333; */
}

.table tbody tr td {
    font-size: 1.75rem;
    letter-spacing: 0.35px;
    font-weight: medium;
    padding: 1.5rem;
    text-align: center;
    /* border:.1px solid #333; */
}

.table tbody tr:nth-child(even) {
    background-color: #eee;
}

.table tbody tr button a {
    color: #fff;
    font-size: 1.5rem;
}

/* responsive queries */

@media(max-width:991px) {
    html {
        font-size: 55%;
    }
    header {
        padding: 2rem;
    }
    header #burger {
        display: block;
    }
    header .navbar {
        position: fixed;
        top: -120%;
        left: 0;
        width: 100%;
        background: #444;
    }
    header .navbar ul {
        flex-flow: column;
        padding: 2rem 0;
    }
    header .navbar ul li {
        margin: 1.5rem 0;
        text-align: center;
        width: 100%;
    }
    header .navbar ul li a {
        font-size: 2.5rem;
        display: block;
    }
    header .navbar ul li a.active, header .navbar ul li a:hover {
        color: #f39c12;
    }
    .fa-times {
        transform: rotate(180deg);
    }
    header .navbar.nav-toggle {
        top: 6.4rem;
        transition: .5s;
    }
    .home h1 {
        font-size: 4rem;
    }
    .home p {
        width: auto;
    }
    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width:768px) {
    .table thead {
        display: none;
    }
    /* .table tbody tr:nth-child(even){
        background-color: #fff;
    }
     */
    .table .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }
    .table tr {
        background: #eee;
        margin-bottom: 15px;
    }
    .table tbody tr td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    .table tbody tr td {
        border-bottom: #fff .3rem solid;
    }
    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: 600;
        font-size: 1.75rem;
        text-align: left;
    }
}

@media (max-width:500px) {
    html {
        font-size: 50%;
    }
    header .logo {
        font-size: 2rem;
    }
    header #burger, header a i {
        font-size: 2rem;
    }
}